<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<nav class="navbar">
        <div class="nav-buttons">
            <button class="nav-btn"><a href="/todos">View To-Do List</a></button>
            <button class="nav-btn"><a href="/">Home</a></button>
        </div>
    </nav>
    <div class="form-container">
        <h1>{{.HeaderText}}</h1>
        
        <form action="/todo/new" method="POST">
            <div class="form-group">
                <input type="text" id="title" name="title" placeholder="Enter your To-Do List Name" value="{{index .FormData "title"}}" 
                       class="{{if .FormErrors.title}}invalid{{end}}">
                {{with .FormErrors.title}}
                    <div class="error">{{.}}</div>
                {{end}}
            </div>
            
            <div class="form-group">
                <textarea id="task" name="task" placeholder="Enter your To-Do List" 
                          class="{{if .FormErrors.task}}invalid{{end}}">{{index .FormData "task"}}</textarea>
                {{with .FormErrors.task}}
                    <div class="error">{{.}}</div>
                {{end}}
          
            <button type="submit">Submit To-Do List</button>
        </form>
    </div>
</div>
</body>
</html>